*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 2rem;
}
a{
  text-decoration: none;
}
.align-center{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}
ul, li{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: start;
}
.vh-100{
  height: 100vh;
}
.mobile{
  display: none;
}
.desk{
  display: block;
}
.d-flex-about{
  display: flex;
  align-items: center;
}
.logo img{
    width: 12rem;
}
.bg-gradient{
    background: rgb(124,23,151);
    background: linear-gradient(45deg, rgba(124,23,151,1) 0%, rgba(25,0,66,1) 100%);
}
.bg-dark{
  background:#191818 ;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #checkbox-menu{
    position: absolute;
    opacity: 0;
  }
  label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }
  label span{
    position: absolute;
    display: block;
    height: .1rem;
    width: 100%;
    border-radius: 30px;
    background: #fff;
    transition: 0.25s ease-in-out;
  }
  label span:nth-child(1){
    top: 0;
  }
  label span:nth-child(2){
    top: 8px;
  }
  label span:nth-child(3){
    top: 16px;
  }
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
  }
  .display-none{
    display: none;
  }
  h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: lighter;
  }
  .bold{
    font-weight: bold;
  }
  .name{
    font-size: 2.5rem;
  }
  .text-main{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    text-align: center;
  }
  .img-main{
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .img-main img{
    width: 50%;
    height: min-content;
  }
  .p-main{
    width: 80%;
    line-height: 1.5;
  }
  .text-main p{
    font-size: 1.2rem;
  }
  .img-main-mobile{
    width: 80%;
  }

  
@media (max-width: 768px)
{
  .text-main{
    justify-content: flex-end;
    margin-top: 12rem;
  }
  .nav-lg
   {
    display: none;
   }

   ul, li{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    }
    
    nav{
      position: fixed;
      right: 0px;
      display: flex;
      justify-content: end;
      padding: 1rem;
      background: #383838;
      border-radius: 15px; 
    }

    nav a{
      margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .nav-mob{
      margin-top: 2rem;
      margin-right: 3rem;
      margin-bottom: 2rem;
    }

    .desk{
      display: none!important;
    }

    .mobile{
      display: block;
    }

    .img-main-mobile{
      display: flex;
      flex-direction: column;

    }

    .d-flex-about{
      flex-direction: column;
    }

}
@media (max-width: 1000px){
  .bg-gradient{
    flex-direction: column;
    height: 100%;
  }


  .text-main{
    min-width: 100%;
  }

  .img-main{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 100%;
  }
  
  .img-main img{
    width: 100%;
  }
}
@media (min-width: 768px)
{
  .menu
   {
    display: none;
   }
   
}

.h-100{
  height: 100%;
}

.p-absolute{
  position: absolute;
}

.m-n-triangle{
  margin-top: 70%;
}

@media (max-width: 1200px){
  .m-n-triangle{
    margin-top: 90%;
  }
}


.p-fixed{
  position: fixed!important;
}

.z-index-999{
  position: relative;
  z-index: 999;
}
.z-index-99{
  position: relative;
  z-index: 99;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-frase{
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
}

.w-50{
  width: 50%;
}

.d-flex-frase .w-50 img{
  width: 80%;
}

.frase-filosofica{
  font-size: 3.5rem;
  color: #fff;
}

.pink{
  color: #EA00B6;
}

.purple{
  color: #B800EA;
}

.w-40{
  width: 40%;
}

.d-flex-column{
  display: flex;
  flex-direction: column;
}
.filosofo{
  margin-top: .5rem;
  font-size: 1.8rem;
  color: #fff;
}

@media (max-width: 768px){
  .d-flex-frase{
    flex-direction: column-reverse;
    padding-top: 3rem;
  }

  .d-flex-frase .w-50{
    width: 100%;
  }

  .d-flex-frase .w-40{
    width: 80%;
    text-align: center;
  }

  .frase-filosofica{
    font-size: 2rem;
    color: #fff;
    margin-top: 10rem;
  }

  .filosofo{
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #fff;
  }

  .z-index-99{
    position: block;
  }
}

.tecnologias-title{
  color: #fff;
  font-size: 2.7rem;
  margin: 2.5rem 0 .2rem 0;
}

.border-title{
  height: 4px;
  width: 100%;
  border-radius: 30px;
  background: linear-gradient(-90deg, rgba(124,23,151,1) 0%, rgba(25,0,66,1) 100%);
  margin-bottom: 2rem;
}

.w-80{
  width: 80%;
}

.tecnologia{
  height: 100px;
  width: 100px;
  border-radius:15px 15px 0px  0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-title-tecnologia{
  height: 4px;
  width: 100px;
  background: linear-gradient(90deg, rgba(124,23,151,1) 0%, rgba(25,0,66,1) 100%);
  margin-bottom: 2rem;
}

.tecnologia h3{
  color: #fff;
  font-weight: lighter;
  font-size: 1rem;
}

.tecnologia img{
  width: 65%;
  transition: .5s;
}

.tech{
  margin: 0px 2rem;
}

.wrap{
  flex-wrap: wrap;
}

.slick-arrow:before{
  content:""!important;
    width: 50%!important;
    height: 90%!important;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-next:before {
  background: url(/Images/arrow.png)!important;
  background-size: contain!important;
  background-repeat: no-repeat;
}

.slick-prev:before {
  background: url(/Images/arrow-prev.png)!important;
  background-size: contain!important;
  background-repeat: no-repeat;
}

.java{
  width: 50%!important;
}

.tecnologias-slick{
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.tecnologia img:hover{
  transform: scale(1.1);
}

.destaque-title{
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
  margin-bottom: 2rem;
}

.projeto{
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 30px;
  border: 1px solid #fff;
  height: 410px;
}

.projeto h3{
  color: #fff;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.projeto-img{
  border-radius: 30px 30px 0px 0px;
}

.projeto-content{
  padding: 0 1rem;
}

.tech-projeto img{
  height: 25px;
}

.tech-projeto {
  display: flex;
}

.projeto-content p{
  color: #fff;
  font-size: 1rem;
  font-weight: lighter;
  margin: 1rem 0;
}

.d-flex-start{
  display: flex;
  justify-content: start;
}

.tech-card{
  margin-right: 2rem;
  transition: .5s;
  min-height: 410px!important;
}


.m-10{
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.bg-blue{
  background: #130031;
}

.d-between{
  display: flex;
  justify-content: space-between;
}

.d-between a img{
  width: 40px;
}

.w-70{
  width: 70%;
}


@media (max-width: 768px){

  .d-between a img{
    width: 30px;
  }
  
}

.m-contato{
  padding: 3rem 0 4rem 0;
}


.typed-cursor {
  color: #BF32FF;
}

body::-webkit-scrollbar {
  width: 7px;           
}

body::-webkit-scrollbar-track {
  background: #0d0d0d; 
}

body::-webkit-scrollbar-thumb {
  background: #7408D9;
  border-radius: 30px;  
}

.navanimation{
  display: inline-block;
  position: relative;
  color: white;
}

.navanimation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  right: 0;
  background: linear-gradient(90deg, rgba(124,23,151,1) 0%, rgba(213, 33, 204,1) 100%);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.navanimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li{
  padding-left: 1.4rem;
}

::selection{
  background:#7408D9;
}
@media (max-width: 1200px){
  .m-n-triangle{
    margin-top: 100%;
  }
  .frase-filosofica{
    font-size: 2rem;
    margin-top: 15rem;
  }
}
